<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Чат
      {{/if}}
    </title>
    <link rel="stylesheet" href="../styles/style.scss" />
  </head>

  <body>
    <nav class="nav">
      <ul class="nav__list">
        {{#each @root.nav.list}}
          <li>
            <a class="nav__link" href="{{this.link}}">
              {{this.name}}
            </a>
          </li>
        {{/each}}
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
